.btn_card{
  margin-bottom: 3%;
}
.carousel{
  background-color: black;
}
.img_carousel{

}
.Signin {
  margin-top: 1%;
  margin-left: 20%;
}
.Signin .card {
  background: rgba(0, 0, 0, .6);
}
.Signin label {
  color: white;
  font-size: 20px;
}

.Signin input {
  color: white;
}
.Signin .modal input{
  color: black;
}
.btn_home {
  margin: 1%;
}

.login {
  margin-top: 4%;
  margin-left: 10%;
}

.login .card {
  background: rgba(0, 0, 0, .6);
}

.login label {
  color: white;
  font-size: 20px;
}

.login input {
  color: white;
}
#btn_home_dash{
  margin-right: 1%;
  margin-top: 1%;
}
#Body1
{
    background-image: url(../img/bg_2.jpg);
}

#Body2
{
  background-image: url(../img/bg_3.jpg);
}

#Body3
{
  background-image: url(../img/bg_4.jpg);
}
.checkbox_remember[type="checkbox"]:checked + span:not(.lever):before{
  border-bottom: 2px solid #8e24aa;
  border-right: 2px solid #8e24aa;
  background: transparent;
}
 #bg_dash{
  padding: 2%;
  margin-top: 2%;
  overflow-y: scroll;
  height: 850px;
  background: rgba(110, 58, 148, .4);
}

/*Style pour la scrollbar du dashboard*/

#bg_dash::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#bg_dash::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#bg_dash::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #663396;
}
/*Style du drop down du dashboard*/
.dropdown-content li > a, .dropdown-content li > span {
    color: #7500fb !important;
}
/*Style des datepicker dans le form de la demande d'événements

Overlay Principal*/
.datepicker-date-display {
 background-color: rgb(106, 48, 133);
}
/*Couleur des boutons*/
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
 color:rgb(106, 48, 133);
}
/*Couleur du jour actuel*/
.datepicker-table td.is-today {
 color: rgb(106, 48, 133);
}
/*Couleur du jour choisi*/
.datepicker-table td.is-selected {
 background-color: rgb(106, 48, 133);
 color: #fff;
}
.datepicker-Signin input {
  color: black;
}
